.draggable {
  position: absolute;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  z-index: 1;
}

.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.draggable__image img {
  border-radius: 2em;
  max-width: 50%;
  left: 597px;
  top: 771px;
}

.draggable__space {
  align-self: center;
  border: solid white;
  border-radius: 2em;
  width: 90vw;
  height: 90vh;
  z-index: -1;
  position: relative;
}

.draggable__text--heading {
  color: white;
  left: 77px;
  top: 2306px;
  font-size: xx-large;
  border-bottom-style: dashed;
  letter-spacing: 0.2em;
}

.draggable__text--heading:nth-of-type(2) {
  color: black;
  left: 119px;
  top: 1741px;
}

.draggable__textarea {
  left: 141px;
  top: 1914px;
}

.draggable__textarea textarea {
  font-size: xx-large;
  width: 477px;
  height: 323px;
}
