.drag__show {
  display: none;
}

.draggable {
  position: absolute;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  z-index: 1;
}

.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.draggable__image img {
  /* border-radius: 2em; */
  max-width: 50vw;
  left: 597px;
  top: 771px;
}

.draggable__space {
  background: whitesmoke;
  align-self: center;
  border: solid white;
  border-radius: 2em;
  width: 90vw;
  height: 90vh;
  z-index: -1;
  position: relative;
}

.draggable__text--heading {
  background: wheat;
  color: #041378;
  font-size: xx-large;
  border-bottom-style: dashed;
  letter-spacing: 0.2em;
  z-index: 2;
}

.draggable__text--heading:nth-of-type(2) {
  font-weight: 900;
  color: #041378;

}

.draggable__textarea {
  z-index: 2;
}

.draggable__textarea textarea {
  color: #041378;
  border-bottom-style: dashed;
  background: wheat;
  font-size: xx-large;
  width: 477px;
  height: 323px;
}

@media screen and (max-width: 600px) {
  .drag__hide {
    display: none;
  }

  .drag__show {
    display: flex;
  }
}