#bed {
  display: flex;
  height: 600px;
}

.flower__author {
  padding-top: 0.5em;
}

.flower__content {
  color: white;
  font-size: 3em;
  margin: 0px;
  position: absolute;
}

.flower__text {
  background-color: whitesmoke;
  border-radius: 2em;
  padding: 2em;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.flower__content:hover {
  color: orange;
}

.flower__wrapper:focus .flower__text,
.flower__wrapper:hover .flower__text {
  visibility: visible;
}

.flower__wrapper {
  position: relative;
  height: 20px;
}

.flower__content--new {
  color: pink;
  font-size: 5em;
}

.form__wrapper {
  border-radius: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  margin-bottom: 2em;
  max-width: 40vw;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.form__input {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.form__input label {
  margin: 2em;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) { 
  #bed {
    height: 1200px;
  }

  .form__input label {
    margin-bottom: 1em;
  }

  .form__wrapper {
    max-width: 80vw;
    padding: 1em;
  }
}