nav {
  display: flex;
  width: fit-content;
  align-self: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 100vh;
}

main {
  overflow: clip;
}

.nodes {
  display: flex;
  justify-content: center;
  left: 0;
  padding: 0;
  padding-top: 20vh;
  list-style-type: none;
  height: 60vh;
}

.node__wrapper {
  flex-direction: column;
  height: 80vh;
  border-top-right-radius: 4em;
  border-top-left-radius: 4em;
  display: flex;
  flex-direction: row-reverse;
  background-color: pink;
  background: linear-gradient(
      90deg,
      rgba(253, 29, 253, 0.8) 0%,
      rgba(252, 176, 69, 0.8) 100%
    ),
    url(./noise.svg);
  transition: transform 600ms ease-in;
  transition-delay: 150ms;
  margin-left: 10px;
}

.node__wrapper:hover {
  transition: transform 400ms ease-in;
  transform: translateY(-7vw);
}

li.node__wrapper:nth-of-type(2) {
  rotate: 4deg;
}

li.node__wrapper:nth-of-type(2) .sphere__wrapper {
  width: 80px;
  height: 80px;
}


li.node__wrapper:nth-of-type(3) .sphere__wrapper {
  width: 40px;
  height: 40px;
}


li.node__wrapper:nth-of-type(4) .sphere__wrapper {
  width: 20px;
  height: 20px;
}

li.node__wrapper:nth-of-type(5) {
  rotate: -2deg;
}

li.node__wrapper:nth-of-type(5) .sphere__wrapper {
  width: 85px;
  height: 85px;
}

li.node__wrapper:nth-of-type(6) .sphere__wrapper {
  width: 80px;
  height: 80px;
}

li.node__wrapper:nth-of-type(7) .sphere__wrapper {
  width: 35px;
  height: 35px;
}

.node__title {
  font-family: "Courier New", Courier, monospace;
}

.sphere__gradient {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: contrast(170%) brightness(1000%);
  background: radial-gradient(
      circle at 96% -4%,
      rgb(217, 217, 239),
      rgba(89, 28, 255, 0)
    ),
    url(./noise.svg);
}

.sphere__link {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sphere__wrapper {
  background-color: #539de3;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
