a {
  text-decoration: none;
}

nav {
  display: flex;
  width: fit-content;
  align-self: center;
}

body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100vh;
}

.nodes {
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 15vh;
  list-style-type: none;
  overflow: clip;
  height: 60vh;
  border: dashed white;
  width: 60vw;
  align-self: center;
}

.node__wave {
  background: linear-gradient(
      90deg,
      rgba(0, 36, 232, 0.8) 0%,
      rgba(250, 246, 241, 0) 100%
    ),
    url(./noise.svg);
  clip-path: path(
    "M 20 41 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 90 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 L 50 956 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 22 -93 A 1 1 0 0 0 20 40 Z"
  );
  height: 60vh;
  width: 50px;
  transition: transform 600ms ease-in-out;
}

.node__wrapper {
  flex-direction: column;
  height: 80vh;
  border-top-right-radius: 5em;
  border-top-left-radius: 5em;
  display: flex;
  flex-direction: row-reverse;
  transition: transform 900ms ease-in-out;
  transition-delay: 150ms;
  margin-left: 10px;
}

.node__wrapper:hover {
  transition-delay: 500ms;
  transition: transform 600ms ease-in-out;
  transform: translateY(-7vw);
}

.node__wrapper:hover .sphere__gradient {
  background: radial-gradient(
      circle at 150% 89%,
      rgba(225, 65, 232, 1),
      rgba(239, 62, 230, 0.372)
    ),
    radial-gradient(
      circle at 38% 13%,
      rgba(255, 255, 0, 1),
      rgba(255, 255, 0, 0.488)
    ),
    url(./noise.svg);
  transition: background-color 600ms ease-in-out;
}

.node__wrapper:hover .node__wave {
  transition: transform 600ms ease-in-out;
  transform: translateZ(1px) rotate(2deg);
  -moz-transform: translateZ(1px) rotate(2deg);
  -webkit-transform: translateZ(1px) rotate(2deg);
}

li.node__wrapper:nth-of-type(2) {
  margin-top: 100px;
  rotate: -4deg;
}

li.node__wrapper:nth-of-type(2) .sphere__wrapper {
  width: 120px;
  height: 120px;
}

li.node__wrapper:nth-of-type(2) .node__wave {
  clip-path: path(
    "M 30 41 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 90 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 L 100 956 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 22 -93 A 1 1 0 0 0 30 40 Z"
  );
  width: 105px;
}

li.node__wrapper:nth-of-type(3) {
  margin-top: 20px;
  rotate: -5deg;
}

li.node__wrapper:nth-of-type(3) .sphere__wrapper {
  width: 140px;
  height: 140px;
}

li.node__wrapper:nth-of-type(3) .node__wave {
  clip-path: path(
    "M 20 41 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 90 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 L 80 956 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 22 -93 A 1 1 0 0 0 20 40 Z"
  );
  width: 80px;
}

li.node__wrapper:nth-of-type(4) {
  margin-top: 100px;
}

li.node__wrapper:nth-of-type(4) .sphere__wrapper {
  width: 60px;
  height: 60px;
}

li.node__wrapper:nth-of-type(4) .node__wave {
  clip-path: path(
    "M 20 41 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 90 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 L 60 956 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 22 -93 A 1 1 0 0 0 20 40 Z"
  );
  width: 60px;
}

li.node__wrapper:nth-of-type(5) {
  rotate: -2deg;
}

li.node__wrapper:nth-of-type(5) .sphere__wrapper {
  width: 85px;
  height: 85px;
}

li.node__wrapper:nth-of-type(5) .node__wave {
  clip-path: path(
    "M 20 41 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 90 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 L 70 956 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 22 -93 A 1 1 0 0 0 20 40 Z"
  );
  width: 70px;
}

li.node__wrapper:nth-of-type(6) {
  margin-top: 200px;
}

li.node__wrapper:nth-of-type(6) .sphere__wrapper {
  width: 120px;
  height: 120px;
}

li.node__wrapper:nth-of-type(6) .node__wave {
  clip-path: path(
    "M 20 41 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 90 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 c 0 30 -20 45 -20 75 c 0 30 20 45 20 75 L 105 956 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 20 -75 c 0 -30 -20 -45 -20 -75 c 0 -30 20 -45 22 -93 A 1 1 0 0 0 20 40 Z"
  );
  width: 105px;
}

li.node__wrapper:nth-of-type(7) {
  rotate: -6deg;
}

li.node__wrapper:nth-of-type(7) .sphere__wrapper {
  width: 30px;
  height: 30px;
}

.node__title {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-size: large;
}

.sphere__gradient {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
      circle at 150% 89%,
      rgba(225, 65, 232, 1),
      rgba(236, 69, 228, 0.37)
    ),
    radial-gradient(
      circle at 38% 13%,
      rgba(255, 255, 0, 1),
      rgba(255, 255, 0, 0)
    ),
    url(./noise.svg);
  transition: background-color 600ms ease-in-out;
}

.sphere__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.sphere__wrapper {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: relative;
  left: 20px;
  bottom: -30px;
  z-index: 1;
}

@media (max-width: 600px) {
  .nodes {
    height: 100%;
    flex-direction: column;
    overflow: visible;
    padding-top: 1em;
  }

  .node__wave {
    display: none;
  }

  .node__wrapper {
    margin-top: 50px;
    height: auto;
  }

  .sphere__link {
    flex-direction: row;
  }
}
