@font-face {
  font-family: Janger;
  src: url("JangerRegular-lgYWq.otf");
}

audio {
  width: 80%;
  border-radius: 2em;
}

.audio__controls {
  background-color: whitesmoke;
  background: radial-gradient(
      circle at 150% 89%,
      rgba(225, 65, 232, 1),
      rgba(236, 69, 228, 0.37)
    ),
    radial-gradient(
      circle at 38% 13%,
      rgba(255, 255, 0, 1),
      rgba(255, 255, 0, 0)
    ),
    url(./noise.svg);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio__caption {
  align-items: center;
  display: flex;
  padding: 1em;
  max-width: 50%;
}

.audio__wrapper {
  background: white;
  border-radius: 2em;
  display: flex;
  padding: 1em;
}

body {
  /* background-color: #005ab1; */
  /* background-image: url("./assets/cyanotype.webp"); */
  background-repeat: space;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.content__column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__row {
  /* background: #27307d; */
  background: url(assets/cyanotype.png);
  background-size: cover;
  border-radius: 2em;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}

.content__title--full {
  display: flex;
  height: 100%;
  width: 100%;
}

.content__title--full h2 {
  width: 100%;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

#frame__image {
  width: 30vw;
  height: 60vh;
}

#frame__text {
  background-color: white;
  border: 2px solid white;
  width: 20vw;
  height: 70vh;
}

header {
  display: flex;
  font-family: "Janger", sans-serif;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100vw;
}

h1 {
  font-size: xxx-large;
  letter-spacing: 5pt;
  color: #eceaef;
  padding: 5px;
  margin: 5px;
  background: url(assets/cyanotype.png);
  background-size: cover;
  border-style: solid;
  border-radius: 1em;
  padding: 0.5em;
}

h1 a {
  text-decoration: none;
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
  padding: 0.5em;
  border-style: solid;
  border-radius: 1em;
  letter-spacing: 0.3em;
  background: url(assets/cyanotype.png);
  width: 50vw;
}

.image__credit {
  position: absolute;
  padding: 1em;
  background: white;
  border-radius: 2em;
  margin: 1em;
}

.image__wrapper {
  display: flex;
  margin-top: 2em;
  overflow: hidden;
  border: whitesmoke solid;
  border-radius: 2em;
  margin: 2em;
}

.image__wrapper img {
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.text__wrapper {
  border: solid whitesmoke;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  margin: 2em;
  max-width: 60vw;
  overflow: hidden;
}

.text__content {
  padding: 3em;
  background-color: rgb(245, 245, 245);
}

.text__content--signature {
  padding-top: 1em;
  border-top: dotted;
}

.text__heading {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.3em;
  color: whitesmoke;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  padding: 2em;
  position: relative;
  overflow: clip;
}

.text__heading h3 {
  z-index: 2;
}

.text__heading--background {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) {
  .audio__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__column {
    align-items: center;
  }

  .image__wrapper {
    margin: 1em;
  }

  .text__heading {
    padding: 1em;
  }

  .text__wrapper {
    margin: 1em;
    max-width: 80vw;
  }
}
