@font-face {
  font-family: Janger;
  src: url("JangerRegular-lgYWq.otf");
}

audio {
  width: 80%;
  border-radius: 2em;
}

.audio__wrapper {
  background-color: whitesmoke;
  background: radial-gradient(
      circle at 96% -4%,
      rgb(217, 217, 239),
      rgba(89, 28, 255, 0)
    ),
    url(./noise.svg);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #005ab1;
  /* background-image: url("./assets/cyanotype.webp"); */
  background-repeat: space;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.content__column {
  display: flex;
  flex-direction: column;
}

.content__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content__wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

#frame__image {
  width: 30vw;
  height: 60vh;
}

#frame__text {
  background-color: white;
  border: 2px solid white;
  width: 20vw;
  height: 70vh;
}

header {
  display: flex;
  font-family: "Janger", sans-serif;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100vw;
}

h1 {
  font-size: 6em;
  letter-spacing: 5pt;
  color: #eceaef;
  padding: 5px;
  margin: 5px;
  background: url(assets/cyanotype.png);
  background-size: cover;
  border-style: solid;
  border-radius: 1em;
  padding: 0.5em;
}

h1 a {
  text-decoration: none;
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
  padding: 0.5em;
  border-style: solid;
  border-radius: 1em;
  letter-spacing: 0.3em;
  background: url(assets/cyanotype.png);
  width: 50vw;
}

.image__wrapper {
  margin-top: 2em;
  border: whitesmoke solid;
}

.image__wrapper img {
  max-width: 500px;
}

main {
  display: flex;
  flex-direction: column;
}

#page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text__wrapper {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.text__content {
  padding: 3em;
  background-color: rgb(245, 245, 245);
}

.text__content--signature {
  padding-top: 1em;
  border-top: dotted;
}

.text__heading {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.3em;
  color: whitesmoke;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  border: solid whitesmoke;
  padding: 2em;
  position: relative;
  overflow: clip;
}

.text__heading--background {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
